#!/bin/bash

export RELAY_NAME="New Relay" # Name of the relay
export RELAY_PUBKEY="07adfda9c5adc80881bb2a5220f6e3181e0c043b90fa115c4f183464022968e6" # Relay owner nostr hex pubkey
# export RELAY_DESCRIPTION="New relay" # Description of the relay (optional)
# export RELAY_CONTACT="email@example.com" # Contact (optional)
# export RELAY_ICON="https://example.com/icon.png" # Icon for the relay (optional)

# export MAX_INVITES_PER_PERSON="3" # Max invites per person, first hierarchy can always invite infinite people (optional)

